
@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		  rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="CreateStyle.css" rel="stylesheet" />
	<title>Создание</title>
</head>
<body>
<a href="/" class="material-icons">
	keyboard_arrow_left
</a>
<h2 id="mainh">Создание блюда</h2>
	
<form class="input-group" method="post" action="~/MainController/Create">
	<p>Название:</p>
	<input type="text" class="form-control" name="name">

	<p>Состав:</p>
	<input type="text" class="form-control" name="consist">

	<p>Описание:</p>
	<input type="text" class="form-control" name="description">

	<p>Цена:</p>
	<input type="text" class="form-control" name="price">

	<p>Граммовка:</p>
	<input type="text" class="form-control" name="gram">

	<p>Калорийность блюда:</p>
	<input type="text" class="form-control" name="calorie">

	<p>Время Приготовления:</p>
	<input type="text" class="form-control" name="cookTime">

	<button type="submit" id="Create">Создать</button>
</form>

</body>
</html>

