
@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		  rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="CreateStyle.css" rel="stylesheet" />
	<title>Создание</title>
</head>
<body>
<a href="/" class="material-icons">
	keyboard_arrow_left
</a>
<h2 id="mainh">Создание блюда</h2>
	
<div class="input-group">
	<p>Название:</p>
	<input type="text" class="form-control" id="usr">

	<p>Состав:</p>
	<input type="text" class="form-control" id="pwd">

	<p>Цена:</p>
	<input type="text" class="form-control" id="pwd">

	<p>Граммовка:</p>
	<input type="text" class="form-control" id="pwd">

	<p>Калорийность блюда:</p>
	<input type="text" class="form-control" id="pwd">

	<p>Время Приготовления:</p>
	<input type="text" class="form-control" id="pwd">
</div>

<button id="Create" >Создать</button>
</body>
</html>

