body {
	font-family: "Roboto";
}



#SearchFields {
	transition-duration:0s;
	display: none;
	background-color: #919FFF;
}
	#SearchFields th {
		padding-bottom: 3px;
	}
#SearchFields:hover th
{
	background-color: #919FFF;
}
#copyToClipboard {
	font-size: 11px;
	width: 90px;
	height: 32px;
	float:right;
	margin: 21px;
}
#copyToClipboard:hover {
	background-color: #919FFF;
	color: azure;
}
	#SearchFields input {
		background-color: #FBFBFF;
		outline: none;
		border-style: solid;
		border-width: 1px;
		border-radius: 11px;
		border-color: transparent;
		width: 128px;
	}


#search{
	border:none;
	background-color:transparent;
	outline: none;
}
	#search:hover {
		cursor: pointer;
	}
header {
	background-color: #24292e;
	width: 100%;
	padding: 10px 0.5% 0px 0.5%;
	background: transparent;
}
.mainData {
	display: flex;
	flex-flow: row;
	justify-content:center;
	align-items: center;
	margin-top: 100px;
}
header h2 {
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		padding: 0px;
		border: none;
}
header #btnCreate {
 
	float: left;
}

#itemsCount {
	margin-top: 100px;
	margin-left: 34px;
}

table thead {

	border-bottom: 4px solid #919FFF;
	height: 123px;
}

td {
	padding: 40px;
	max-width: 100px;
	overflow-wrap:normal;
}

.submitButton:hover{
	cursor:pointer;
}

button {
	transition-duration: 0.4s;
	background-color: white;
	font-size: 12px;
	width: 79px;
	height: 27px;
	border: 2px solid #919FFF;
	border-radius: 6px;
}
#dishes tbody tr {
	transition-duration: 0.4s;
}
#dishes .action a {
	text-decoration: none;
}
	#dishes .action a:visited {
		color: black;
	}
	#dishes .action a:not(:visited) {
		color: black;
	}
#dishes tr .del a{
	transition-duration: 0s;
}
#dishes tr .del {
	transition-duration: 0.4s;
	transition-duration: 0s;
	opacity: 0;
}
#dishes .action {
	transition-duration: 0.4s;
	padding: 15px;
}
	#dishes .action a {
		transition-duration: 0s;
		opacity: 0;
	}
#dishes {
	border-collapse: collapse;
	border-bottom: 2px solid #919FFF;
}
	#dishes tr:hover .action {
		background-color: white;
		opacity: 1;
	}
	#dishes tr:hover .del {
		background-color: white;
		opacity: 1;
	}
	#dishes tr .del:hover {
		cursor:pointer;
	}
	
		#dishes tr:hover .action a {
			background-color: white;
			opacity: 1;
		}


#dishes thead tr:hover {
	background-color: white;

}
	#dishes tbody tr .dishesItem {
		transition-duration: 0.4s;
	}
	#dishes tbody tr:hover .dishesItem{
		visibility: visible;
		background-color: lavender;
	}


.pagination {
	display:inline-block;
	padding-left:0px;
	margin:40px;

}

	.pagination span {
		transition-duration: 0.4s;
		padding: 8px 16px;
		text-align: center;
		text-decoration: none;
		color: black;
		float: left;
		border-bottom: 2px solid #919FFF;
		border-top: 2px solid #919FFF;
	}
		.pagination span:hover {
			cursor: pointer;
			background-color: #919FFF;
			color: white;
		}		
.pagination li {
	display: inline;
}

.pagination li:active {
	background-color: blueviolet;
}

	.pagination span:active {
		background-color: blueviolet;
		color: #dddddd;
	}

.pagination li:active {
	background-color: blueviolet;
}



.button {
	 transition-duration: 0.4s;
}
	.button:hover {
		background-color: #919FFF;
		color: azure;
	}

